/*import a reset*/
@import '../../style/_colors.scss';
html, body {
    height:100%;
    width:100%;
}


.skyquakeApp {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 100%;
    background: $gray-lightest;
    h1 {
        text-transform: uppercase;
    }

    .skyquakeContainerWrapper {
    }
    .titleBar {
        padding: 1rem 0 0;
        h1 {
        /* background: url('../../style/img/header-logo.png') no-repeat;*/
        background-size:contain;
        height: 51px;
        line-height: 51px;
        margin-left: 20px;
        /* padding-left: 100px;*/
        left: 0;
        font-size: 1.625rem;
        font-weight: 400;
        text-align:left;
        position:relative;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
        }
    }
    .corner-accent {
        border: 1px solid #000;
        display: block;
        height: 4px;
        position: absolute;
        width: 4px;

        &.top {
            border-bottom: 0;
            top: -1px;
        }
        &.right {
            border-left: 0;
            right: -1px;
        }
        &.bottom {
            border-top: 0;
            bottom: -1px;
        }
        &.left {
            border-right: 0;
            left: -1px;
        }
    }
}
